
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Invitation to Meeting: <%= @meeting.topic %></h1>
    <p>Hello <%= @user.email %>,</p>

<p>You have been invited to a meeting.</p>

<p><strong>Meeting Topic:</strong> <%= @meeting.topic %></p>
<p><strong>Meeting Time:</strong> <%= @meeting_time %></p>

<p>We look forward to your participation.</p>

  </body>
</html>





